@import '~antd/dist/antd.css';
@import 'index.scss';
.page-header .ant-col{
  line-height: 67px;
  border: 0;
  //border-bottom: 1px solid #f0f0f0;
  box-shadow: none;
}
.page-header .ant-menu-item{
  padding: 10px 10px !important;
}
.ant-menu-horizontal{
  border:none;
}
.anticon{
  margin-right: 10px;
}


.ant-card {
  margin: 15px !important;
}
.ant-card-body{
  padding:16px 24px;
}
.card-wrapper:hover{
  cursor: pointer;
  background: rgb(239,251,255);
  box-shadow: 1px 1px 10px #ddd;
}
.ant-divider-inner-text{
  margin-bottom: 28px;
  font-size: 28px;
}
