@import '~antd/dist/antd.css';
@import 'index.scss';
.page-header .ant-col{
  line-height: 67px;
  border: 0;
  //border-bottom: 1px solid #f0f0f0;
  box-shadow: none;
}
.page-header .ant-menu-item{
  padding: 10px 10px !important;
}
.nav-wrapper .ant-menu{
  min-width: 370px;
}
@media screen and (max-width: 800px) {
  .nav-wrapper .ant-menu{
    min-width: auto;
  }
}
    .ant-menu-horizontal{
  border:none;
}
.anticon{
  margin-right: 10px;
}


.ant-card {
  margin: 15px !important;
}
.ant-card-body{
  padding:16px 24px;
}
.card-wrapper:hover{
  cursor: pointer;
  background: rgb(239,251,255);
  box-shadow: 1px 1px 10px #ddd;
}
.ant-divider-inner-text{
  margin-bottom: 28px;
  font-size: 28px;
}
.ant-tag{
  margin-top: 5px;
}

.ant-timeline .ant-timeline-item:first-child{
  padding-bottom: 60px;
}
.ant-timeline .ant-timeline-item{
  padding-bottom: 24px;
  font-size: 16px;
}
.search-wrapper {
  .ant-input-affix-wrapper {
    margin-left: 15px;
    border: none;

    .ant-input:focus {
      border-right-width: unset !important;
    }

    .ant-input-lg:focus {
      border: none;
      border-right-width: unset !important;
    }
  }
  .ant-input-affix-wrapper:focus{
    border-right-width: unset !important;
    box-shadow:none !important;
  }
  .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border: none;
    border-right-width: 0px !important;
    z-index: 1;
  }
  .ant-input-affix-wrapper-focused{
    box-shadow: none !important;
  }
}
