@import '~antd/dist/antd.css';
@import 'index.scss';
body{
  h1{
    //color: blue!important;
  }
}
.page-header .ant-col{
  line-height: 67px;
  border: 0;
  //border-bottom: 1px solid #f0f0f0;
  box-shadow: none;
}
.page-header .ant-menu-item{
  padding: 10px 10px !important;
}
.ant-menu-horizontal{
  border:none;
}
.ant-tag{
  //margin-top: 10px;
  //padding: 5px !important;
}
.anticon{
  margin-right: 10px;
}
